body {
    background: black;
    font-family: 'Playfair Display', serif;
    display: grid;
    grid-template-areas: 'a a a' 'b b b' 'c c c' 'd d d' 'e e e';
}

.header {
    grid-area: a;
}
h1 {
    margin-bottom: 0;
    background: white;
    padding-left: 40px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.headlogo {
    width: 300px;
}

.nav {
    grid-area: b;
}

#banner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;
    background: darkgrey;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: dimgray;
}

.btn {
    color: #FFF;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    width: 200px;
}
.prodImage {
    grid-area: c;
    display: flex;   
}

#prodImage1 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#prodImage2 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#prodImage3 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.prodInfo {
    color: lightgray;
    grid-area: d;
    display: flex;
    
    
}

#prodInfo1 {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

#prodInfo2 {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

#prodInfo3 {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;

}


.footer {
    grid-area: e;
    color: darkgray;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    width: 300px;
    margin-top: 0;
    padding: 0 20px;
    list-style: none;
    float: left;
    
}

